<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>{{{ css }}}</style>
        <title>{{ title }}</title>
    </head>
    <body>
        {{{ header }}}
        <main>
            <div class="box">{{{ body }}}</div>
        </main>
        {{{ footer }}}
    </body>
</html>